<html>
    <head>
        <title>Transform</title>
        <style>
            .filename {
                width: 40%;
            }
            .inputarea {
                height: 80%;
                width: 40%;
            }
        </style>
    </head>
    <body>
        <form action="http://localhost:8080/transform" method="POST">
            <div>
                <input class="filename" name="data_name" type="text" placeholder="Enter a filename (e.g. yourData.json)">
                <input class="filename" name="code_name" type="text" placeholder="Enter a filename (e.g. yourCode.py)">
            </div>
            <div>
                <textarea class="inputarea" name="data" placeholder="Insert JSON data here"></textarea>
                <textarea class="inputarea" name="code" placeholder="Insert Python code here"></textarea>
                <!-- <input class="inputarea" name="data" type="text"/> -->
                <!-- <input class="inputarea" name="code" type="text"/> -->
                <p><input type="submit" value="Submit" /></p>
            </div>
        </form>
    </body>
</html>